.chinese-word {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.chinese-pinyin {
  font-weight: bold;
  padding: 4px;
}

.chinese-definition {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.word-header {
  background-color: #1f1f1f;
  color: white;
  padding: 4px;
}
