entry#main_entry {
  font-size: 22px;
  padding: 4px;
}

image.search-options {
  margin-left: 10px;
  margin-right: 10px;
}

.search {
  outline-style: none;
}

.result-separator {
  padding: 2px;
}

.span-box {
  background-color: #ffffff;
}

.span-child {
  border-width: 2px;
  margin-bottom: -2px;
  margin-right: -2px;
  border-top-style: solid;
  border-bottom-style: solid;
}

.span-first {
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: dotted;
}

.span-middle {
  border-right-style: dotted;
}

.span-last {
  border-right-style: solid;
}

.span-box .result-even {
  font-size: 40px;
  background-color: #f2f2f2;
}

.span-box .result-even button {
  background-color: #f2f2f2;
}

.span-box .result-even button:hover {
  background-color: #e2e2e2;
}


.span-box .result-odd {
  background-color: #fefefe;
}

.span-box .result-odd button {
  background-color: #fefefe;
}

.span-box .result-odd button:hover {
  background-color: #eeeeee;
}
